{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Process Management{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <link rel="stylesheet" href="{% static 'process/styles.css' %}">
</head>
<body>
    <nav>
        <form method="get" action="{% url 'home' %}">
            <button type="submit" class="nav-button">Process List</button>
        </form>

        <form method="get" action="{% url 'snapshot_list' %}">
            <button type="submit" class="nav-button">Snapshots</button>
        </form>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="nav-button">Logout</button>
        </form>
    </nav>

    <div class="main-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
